/*
 *= require_self
 *= require_tree .
*/

body {
  background:url('/assets/bg.png');
}

.highlight {
  background-color:#eee;
  border-color:#2D6987;
  border-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7AB5D3;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7AB5D3;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7AB5D3;
  transition:all 1s;
  -moz-transition:all 1s;
  -webkit-transition:all 1s;
  -o-transition:all 1s;
}

.highlight:hover {
  background-color:#e3e3e3;
  border-shadow:inset 0 2px 2px rgba(0, 0, 0, 0.095), 0 0 10px #7AB5D3;
  -webkit-box-shadow:inset 0 2px 2px rgba(0, 0, 0,0.095), 0 0 10px #7AB5D3;
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.095), 0 0 10px #7AB5D3;
}

#authenticate {
  background-color:#eee;
}

#authenticate:hover {
  background-color:#e3e3e3;
}